[Desktop Entry]
Name=Eclraria
Description=V2 to look better with this iteration of hyprland configs. WITH NEW ANIMATIONS!!!!
Author=Nautilus
Type=sddm-theme
Version=2.0
